@tailwind base;
@tailwind components;
@tailwind utilities;

html.dark {
  background: rgba(15, 23, 42);
  color-scheme: dark;
}

@font-face {
  font-family: 'fugui';
  src: url('./assets/font/蝉羽胡杨体.ttf');
  font-display: swap;
}
